
@font-face{
  font-family: uwu;
  src:url(Puffy.ttf)
}

head{
    text-align: center;
    font-family: uwu;
    margin-bottom: 100px;
    align-items: center;
}
html,body{
    display: grid;
    height: 80%;
    background-color: rgba(45, 43, 43, 0.897);
    align-items: center;
  }
  html {
    height: 100%;
    width: 100%;
  }
  h1{
    text-align: justify;
  }
  body{
   background-color:  #333333;
   text-align: center;
   font-family: uwu;
   align-items: center;
   align-content: center;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
    padding-bottom: 100px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #94e3fe;
    color: rgb(255, 255, 255);
  }
  h1{
    text-align: center;
  
  }
  head{

    margin: 100px;
  }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 