body{
    text-align: top;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 80%;
    background-color: rgba(45, 43, 43, 0.897);
  }
  html {
    height: 100%;
    width: 100%;
  }
  
  body{
   background-color:  #333333;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  

 